<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     
</head>
<body background="https://thumbs.dreamstime.com/b/fluorescent-coloured-pixel-squares-blue-flourescent-fun-design-bright-134460737.jpg">
    
    <br><br><br><br><br>
    <h1 style="color:white;background-color:black;" class="center-align">Welcome! Have a nice day!</h1>
</body>
</html>